/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansKR-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansKR-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansKR-Bold.otf');
  font-weight: 700;
}

#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(1, 15, 2), rgb(255, 255, 255));
  mix-blend-mode: overlay;
}

#backVideoArea {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#backVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#logo {
  position: absolute;
  top: 3%;
  left: 3%;
  color: white;
  font-size: 25px;
  font-family: 'NotoSans';
  font-weight: 700;
}

#text {
  position: absolute;
  top: 55%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'NotoSans';
  font-weight: 700;
  /* text-align: center; */
  font-size: 60px;
  color: rgba(255, 255, 255, 100%);
  /* color: rgba(0, 0, 0, 100%); */
  /* color: rgb(50, 50, 50); */
}

#button {
  position: absolute;
  top: 68%;
  right: 5%;
}

#button  button {
  font-size: 40px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 50px;
  font-family: 'NotoSans';
  font-weight: 700;
  color: rgba(255, 255, 255, 100%);
  background-color: rgba(255, 255, 255, 0%);
  transition-duration: 0.2s;
}

#button  button:hover {
  background-color: rgba(255, 255, 255, 50%);
  color: rgb(36, 36, 36);
}

#footer {
  position: absolute;
  top: 63%;
  right: 5%;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: 'NotoSans';
}
